main {
  height: 100%;
  display: flex;
  justify-content: center;
}

#product-info-wrapper {
  height: 25rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  border: 2px solid rgb(248, 232, 142);
}

#product-info {
  overflow: auto;
  padding: 0.5%;
  width: 50%;
}

.carousel-inner {
  height: 24.7rem;
  width: 24.7rem;
}

.product-img {
  height: 24.7rem;
  width: 24.7rem;
}

.carousel-control-prev-icon {
  background-color: black !important;
}

.carousel-control-next-icon {
  background-color: black !important;
}

.collapse-bars {
  padding: 2%;
  width: 100%;
  border: 2px solid rgb(248, 232, 142);
}

#info-page-button-wrapper {
  padding: 2% 0;
}

.btn-hyperlink {
  outline: 2px solid rgb(248, 232, 142);
  font-weight: 700;
  color: black;
}
